---
title: "AI Lab"
layout: splash
permalink: /group/
date: 2023-2-14
header:
    overlay_color: "#000"
    overlay_filter: "0.3"
    overlay_image: allpeople_long.jpg
excerpt: ""
intro: 
  - excerpt: 'Join us, for Computer Vision, which includes, among others, image/video restoration and segmentation'
leader_row:
  - image_path: newface_small.jpg
    image_width: 150px
    image_height: 150px
    alt: "placeholder image"
    title: "Xiaohong Liu 刘笑宏"
    excerpt: 'Tenure-Track Assisstant Professor<br/>
    <a href= "http://jhc.sjtu.edu.cn/">John Hopcroft Center (JHC)</a> for Computer Science<br/>
    Office: SEIEE 3-301<br/>
    Email: <a href= "xiaohongliu@sjtu.edu.cn">xiaohongliu@sjtu.edu.cn</a>'
student_row_1:
  - image_path: newface_small.jpg
    alt: "placeholder image"
    title: "Xiaohong Liu 刘笑宏"
    excerpt: "PhD candidate<br/>
    SJTU/CS<br>
    xiaohongliu@sjtu.edu.cn"
  - image_path: newface_small.jpg
    alt: "placeholder image"
    title: "Xiaohong Liu 刘笑宏"
    excerpt: "MSc candidate<br/>
    SJTU/CS<br>
    xiaohongliu@sjtu.edu.cn"
  - image_path: newface_small.jpg
    alt: "placeholder image"
    title: "Xiaohong Liu 刘笑宏"
    excerpt: "Undergraduate<br/>
    SJTU/CS<br>
    xiaohongliu@sjtu.edu.cn"
---


<!-- <img src="../images/allpeople.jpg" alt="this is a placeholder image" width="300px" height="200px"> -->

{% include feature_row id="intro" type="center" %}

<h2>Faculty</h2>

{% include feature_row id="leader_row" type="left" %}

<h2>Current Members</h2>

{% include feature_row id="student_row_1" %}