---
title: " "
layout: splash
permalink: /supervision/
date: 2023-2-14
header:
    overlay_color: "#000"
    overlay_filter: "0.3"
    overlay_image: sjtu2.png
leader_row:
  - image_path: groups/xiaohongliu_square.png
    image_width: 150px
    image_height: 150px
    alt: "placeholder image"
    title: "Xiaohong Liu 刘笑宏"
    excerpt: 'Tenure-Track Assisstant Professor<br/>
    <a href= "http://jhc.sjtu.edu.cn/">John Hopcroft Center (JHC)</a> for Computer Science<br/>
    Office: SEIEE 3-301<br/>
    Email: <a href= "xiaohongliu@sjtu.edu.cn">xiaohongliu@sjtu.edu.cn</a>'
phd:
  - image_path: groups/guangyangwu.png
    alt: "placeholder image"
    excerpt: "<h3><b>Guangyang Wu 吴广阳</b></h3>
    Ph.D. student<br/>
    2023.09 - current"
  - image_path: groups/wenhaoli.png
    alt: "placeholder image"
    excerpt: "<h3><b>Wenhao Li 李文颢</b></h3>
    Ph.D. student<br/>
    2023.09 - current"
master: 
  - image_path: groups/yunlongdong.png
    alt: "placeholder image"
    excerpt: "<h3><b>Yunlong Dong 董云龙</b></h3>
    M.Sc student<br/>
    2022.09 - current"
  - image_path: groups/xiufengsong.png
    alt: "placeholder image"
    excerpt: "<h3><b>Xiufeng Song 宋修丰</b></h3>
    M.Sc student<br/>
    2023.09 - current"
undergraduate: 
  - image_path: groups/xunchuzhou.png
    alt: "placeholder image"
    excerpt: "<h3><b>Xunchu Zhou 周恂初</b></h3>
    Undergraduate<br/>
    SEIEE CS<br/>"
  - image_path: groups/qiruili.png
    alt: "placeholder image"
    excerpt: "<h3><b>Qirui Li 李奇睿</b></h3>
    Undergraduate<br/>
    SEIEE AI<br/>"
  - image_path: groups/jiachezhang.png
    alt: "placeholder image"
    excerpt: "<h3><b>Jiache Zhang 张佳澈</b></h3>
    Undergraduate<br/>
    SJTU-Michigan ECE<br/>"
  - image_path: groups/ruiyiwang.png
    alt: "placeholder image"
    excerpt: "<h3><b>Ruiyi Wang 王睿一</b></h3>
    Undergraduate<br/>
    SJTU-Michigan ECE<br/>"
---

<!-- intro: 
  - excerpt: 'Join us, for Computer Vision, which includes, among others, image/video restoration and segmentation' -->
<!-- <img src="../images/allpeople.jpg" alt="this is a placeholder image" width="300px" height="200px"> -->

{% include feature_row id="intro" type="center" %}

<h2>Supervisor</h2>

{% include feature_row id="leader_row" type="left" %}

<h2>Current Students</h2>

<h3>Ph.D.</h3>

{% include feature_row id="phd" %}

<h3>Master</h3>

{% include feature_row id="master" %}

<h3>Undergraduate</h3>

{% include feature_row id="undergraduate" %}
