---
title: " "
layout: splash
permalink: /supervision/
date: 2023-2-14
header:
    overlay_color: "#000"
    overlay_filter: "0.3"
    overlay_image: sjtu2.png
leader_row:
  - image_path: groups/xiaohongliu_square.png
    image_width: 150px
    image_height: 150px
    alt: "placeholder image"
    title: "Xiaohong Liu 刘笑宏"
    excerpt: 'Tenure-Track Assistant Professor<br/>
    <a href= "http://jhc.sjtu.edu.cn/">John Hopcroft Center (JHC)</a> for Computer Science<br/>
    Office: SEIEE 3-301B<br/>
    Email: <a href= "xiaohongliu@sjtu.edu.cn">xiaohongliu@sjtu.edu.cn</a>'
phd:
  - image_path: groups/guangyangwu.png
    alt: "placeholder image"
    excerpt: "<h3><b>Guangyang Wu 吴广阳</b></h3>
    Ph.D. student<br/>
    2023.09 - current"
  - image_path: groups/wenhaoli.png
    alt: "placeholder image"
    excerpt: "<h3><b>Wenhao Li 李文颢</b></h3>
    Ph.D. student<br/>
    2023.09 - current"
  - image_path: groups/siqiluo.png
    alt: "placeholder image"
    excerpt: "<h3><b>Siqi Luo 罗思琪</b></h3>
    Ph.D. student<br/>
    2024.09 - current"
master: 
  - image_path: groups/yunlongdong.png
    alt: "placeholder image"
    excerpt: "<h3><b>Yunlong Dong 董云龙</b></h3>
    Master's student<br/>
    2022.09 - current"
  - image_path: groups/xiufengsong.png
    alt: "placeholder image"
    excerpt: "<h3><b>Xiufeng Song 宋修丰</b></h3>
    Master's student<br/>
    2023.09 - current"
  - image_path: groups/xielewu.png
    alt: "placeholder image"
    excerpt: "<h3><b>Xiele Wu 吴偕乐</b></h3>
    Master's student<br/>
    2023.09 - current"
  - image_path: groups/shushiwang.png
    alt: "placeholder image"
    excerpt: "<h3><b>Shushi Wang 王书石</b></h3>
    Master's student<br/>
    2024.09 - current"
  - image_path: groups/youranding.png
    alt: "placeholder image"
    excerpt: "<h3><b>Youran Ding 丁悠然</b></h3>
    Master's student<br/>
    2024.09 - current"
undergraduate: 
  - image_path: groups/xunchuzhou.png
    alt: "placeholder image"
    excerpt: "<h3><b>Xunchu Zhou 周恂初</b></h3>
    Undergraduate<br/>
    SJTU SEIEE, IEEE Class<br/>"
  - image_path: groups/qiruili.png
    alt: "placeholder image"
    excerpt: "<h3><b>Qirui Li 李奇睿</b></h3>
    Undergraduate<br/>
    SJTU SEIEE, AI Class<br/>"
  - image_path: groups/jiachezhang.png
    alt: "placeholder image"
    excerpt: "<h3><b>Jiache Zhang 张佳澈</b></h3>
    Undergraduate<br/>
    SJTU-Michigan ECE<br/>"
  - image_path: groups/ruiyiwang.png
    alt: "placeholder image"
    excerpt: "<h3><b>Ruiyi Wang 王睿一</b></h3>
    Undergraduate<br/>
    SJTU-Michigan ECE<br/>"
  - image_path: groups/tianyizhang.png
    alt: "placeholder image"
    excerpt: "<h3><b>Tianyi Zhang 张天一</b></h3>
    Undergraduate<br/>
    TJU CEIE, CS<br/>"
  - image_path: groups/xuehaocui.png
    alt: "placeholder image"
    excerpt: "<h3><b>Xuehao Cui 崔学浩</b></h3>
    Undergraduate<br/>
    SJTU-Michigan ECE<br/>"
  - image_path: groups/kangruicen.png
    alt: "placeholder image"
    excerpt: "<h3><b>Kangrui Cen 岑康瑞</b></h3>
    Undergraduate<br/>
    SJTU Zhiyuan, John Hopcroft Class<br/>"
  - image_path: groups/yuhaowang.png
    alt: "placeholder image"
    excerpt: '<h3><a href= "https://acm.sjtu.edu.cn/~yuhaowang/"><b><font color="#000000">Yuhao Wang 王俞皓</font></b></a></h3>
    Undergraduate<br/>
    SJTU Zhiyuan, ACM Class<br/>'
  - image_path: groups/junjiepeng.png
    alt: "placeholder image"
    excerpt: "<h3><b>Junjie Peng 彭俊杰</b></h3>
    Undergraduate<br/>
    SJTU SEIEE, Automation<br/>"
---


<!-- intro: 
  - excerpt: 'Join us, for Computer Vision, which includes, among others, image/video restoration and segmentation' -->
<!-- <img src="../images/allpeople.jpg" alt="this is a placeholder image" width="300px" height="200px"> -->

{% include feature_row id="intro" type="center" %}

<h2>Supervisor</h2>

{% include feature_row id="leader_row" type="left" %}

<h2>Current Students</h2>

<h3>Ph.D.</h3>

{% include feature_row id="phd" %}

<h3>Master</h3>

{% include feature_row id="master" %}

<h2>Undergraduate</h2>

{% include feature_row id="undergraduate" %}

<h2>Undergraduate Thesis Supervision</h2>
<h3>2024</h3>
<ol>
  <li>Zhenghao Gan (干正浩), SJTU SEIEE, AI Class. Thesis title: Audio-Assisted Face Video Restoration</li>
  <li>Yongyang Pan (潘永阳), SJTU SEIEE, AI Class. Thesis title: AIGC Detection and Identification</li>
  <li>Sizhe Lv (吕嗣哲), SJTU SEIEE, AI Class. Thesis title: Object-Centric Video Editing</li>
  <li>Hongqiao Li (李泓桥), SJTU SEIEE, CS. Thesis title: AIGC Quality Assessment</li>
</ol>
<h3>2023</h3>
<ol>
  <li>Xiufeng Song (宋修丰), SJTU SEIEE, CS. Thesis title: Proactive Image Manipulation Detection and Localization Based on Deep Learning</li>
</ol>
